<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link type="text/css" href="../static/css/core.css" rel="stylesheet" th:href="@{css/core.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<table>
    <tr th:each="guide : ${guides}">

        <td>
            <h4><span th:text="${guide.name}">Test Build <br></span></h4>
            <span th:each="keystone : ${guide.pathOfBuilding.keystones}">
                <span th:text="${keystone.name}">Some keystone</span>
            </span>
        </td>
    </tr>
</table>
</body>
</html>